**/.DS_Store

backend/target/
backend/.classpath
backend/.project
backend/.settings/
backend/.env
backend/.env.*

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/.env
mobile/.env.*

**/*.log
**/npm-debug.log*
